In [1]:
import pprint
import pandas as pd

In [2]:
import sqlite3
from sqlite3 import Error

In [3]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()


create_connection(r"./db/chinook.db")

2.6.0

In [9]:
conn = sqlite3.connect(r"./db/chinook.db")

In [10]:
cur = conn.cursor()

In [11]:
pp = pprint.PrettyPrinter(indent=4)

def sql_cmd(cmd_string):
    """Helper function to return sql query as a string"""
    result = cur.execute(cmd_string)
    return result

def query_pp(response):
    """Pretty print the response with the column names"""
    columns = [x[0] for x in [*data.description]]
    res = data.fetchall()
        
    df = pd.DataFrame(data = res, columns = columns)
    print(df)

In [12]:
data = sql_cmd("""
SELECT 
  art.name as Artist,
  t.Name as Track, 
  g.name as Genre, 
  ROUND(MAX(milliseconds)/60000.0, 2) as Length_in_minutes,
  a.title as Album_title
FROM
  tracks t
INNER JOIN genres g
ON t.GenreID = g.GenreId
INNER JOIN albums a
ON a.AlbumId = t.AlbumID
INNER JOIN artists art
ON art.ArtistId = a.artistid
GROUP BY
  t.GenreId
""")

query_pp(data)

                                              Artist  \
0                                       Led Zeppelin
1                                        Miles Davis
2                                        Iron Maiden
3                                          Green Day
4                                           BackBeat
5                                          Buddy Guy
6                                      Legião Urbana
7                                      Lenny Kravitz
8                                      Amy Winehouse
9                                         Passengers
10                               Toquinho & Vinícius
11                                     Frank Sinatra
12                                       Iron Maiden
13                                     Amy Winehouse
14                                        Jamiroquai
15                            Habib Koité and Bamada
16                                       Planet Hemp
17                              Battlestar Galactica
18                              Battlestar Galactica
19                    Battlestar Galactica (Classic)
20                                              Lost
21                                        The Office
22                                 Temple of the Dog
23         Leonard Bernstein & New York Philharmonic
24  Sir Georg Solti, Sumi Jo & Wiener Philharmoniker

                                                Track               Genre  \
0                                  Dazed And Confused                Rock
1                           My Funny Valentine (Live)                Jazz
2                         Rime of the Ancient Mariner               Metal
3   Homecoming / The Death Of St. Jimmy / East 12t...  Alternative & Punk
4                                           Slow Down       Rock And Roll
5                       Talkin' 'Bout Women Obviously               Blues
6                                    Faroeste Caboclo               Latin
7                        Equal Rights Downpresser Man              Reggae
8                                 Amy Amy Amy (Outro)                 Pop
9                                  Always Forever Now          Soundtrack
10                                    Samba Da Bênção          Bossa Nova
11                                     Mack The Knife      Easy Listening
12                                     Dance Of Death         Heavy Metal
13                             Rehab (Hot Chip Remix)            R&B/Soul
14                                 Just Another Story   Electronica/Dance
15                             I Ka Barra (Your Work)               World
16                                            Se Liga         Hip Hop/Rap
17                                               Hero     Science Fiction
18                             Occupation / Precipice            TV Shows
19                        Greetings from Earth, Pt. 1    Sci Fi & Fantasy
20                            Through a Looking Glass               Drama
21                                            The Job              Comedy
22                                         Reach Down         Alternative
23  Adagio for Strings from the String Quartet, Op...           Classical
24  Die Zauberflöte, K.620: "Der Hölle Rache Kocht...               Opera

    Length_in_minutes                                        Album_title
0               26.87                 The Song Remains The Same (Disc 1)
1               15.13                 The Essential Miles Davis [Disc 2]
2               13.61                                         Powerslave
3                9.31                                     American Idiot
4                2.72                                BackBeat Soundtrack
5                9.83   The Best Of Buddy Guy - The Millenium Collection
6                9.05                                      Mais Do Mesmo
7                6.11                                      Greatest Hits
8               11.06                                              Frank
9                6.40                             Original Soundtracks 1
10               6.83                    Vinícius De Moraes - Sem Limite
11               4.87         My Way: The Best Of Frank Sinatra [Disc 1]
12               8.61                                     Dance Of Death
13               6.97                                      Back to Black
14               8.83                     The Return Of The Space Cowboy
15               5.01                                            Muso Ko
16               6.84             Os Cães Ladram Mas A Caravana Não Pára
17              45.23                     Battlestar Galactica, Season 3
18              88.12                     Battlestar Galactica, Season 3
19              49.34           Battlestar Galactica (Classic), Season 1
20              84.81                                     Lost, Season 3
21              42.36                               The Office, Season 3
22              11.21                                  Temple of the Dog
23               9.94  Great Performances - Barber's Adagio and Other...
24               2.91                          Mozart Gala: Famous Arias

In [13]:
query_pp(sql_cmd(
"""
Select firstname || " " || lastname as Employee_name, title, MIN(HireDate) as Hired
FROM
  employees e
GROUP BY title;"""
))

      Employee_name                Title                Hired
0      Andrew Adams      General Manager  2002-08-14 00:00:00
1  Michael Mitchell           IT Manager  2003-10-17 00:00:00
2       Robert King             IT Staff  2004-01-02 00:00:00
3     Nancy Edwards        Sales Manager  2002-05-01 00:00:00
4      Jane Peacock  Sales Support Agent  2002-04-01 00:00:00

In [14]:
query_pp(sql_cmd(
"""
SELECT 
  c.CustomerID, 
  c.firstname || " " || c.lastname as customer,
  e.firstname || " " || e.lastname as employee,
  e.title
FROM customers c, employees e
WHERE c.SupportRepid = e.employeeid
  AND e.title = "Sales Support Agent"
"""))

    CustomerId               customer       employee                Title
0            1         Luís Gonçalves   Jane Peacock  Sales Support Agent
1            3      François Tremblay   Jane Peacock  Sales Support Agent
2           12        Roberto Almeida   Jane Peacock  Sales Support Agent
3           15      Jennifer Peterson   Jane Peacock  Sales Support Agent
4           18        Michelle Brooks   Jane Peacock  Sales Support Agent
5           19              Tim Goyer   Jane Peacock  Sales Support Agent
6           24          Frank Ralston   Jane Peacock  Sales Support Agent
7           29           Robert Brown   Jane Peacock  Sales Support Agent
8           30         Edward Francis   Jane Peacock  Sales Support Agent
9           33         Ellie Sullivan   Jane Peacock  Sales Support Agent
10          37        Fynn Zimmermann   Jane Peacock  Sales Support Agent
11          38        Niklas Schröder   Jane Peacock  Sales Support Agent
12          42           Wyatt Girard   Jane Peacock  Sales Support Agent
13          43       Isabelle Mercier   Jane Peacock  Sales Support Agent
14          44       Terhi Hämäläinen   Jane Peacock  Sales Support Agent
15          45        Ladislav Kovács   Jane Peacock  Sales Support Agent
16          46          Hugh O'Reilly   Jane Peacock  Sales Support Agent
17          52             Emma Jones   Jane Peacock  Sales Support Agent
18          53            Phil Hughes   Jane Peacock  Sales Support Agent
19          58           Manoj Pareek   Jane Peacock  Sales Support Agent
20          59        Puja Srivastava   Jane Peacock  Sales Support Agent
21           4           Bjørn Hansen  Margaret Park  Sales Support Agent
22           5  František Wichterlová  Margaret Park  Sales Support Agent
23           8           Daan Peeters  Margaret Park  Sales Support Agent
24           9           Kara Nielsen  Margaret Park  Sales Support Agent
25          10        Eduardo Martins  Margaret Park  Sales Support Agent
26          13         Fernanda Ramos  Margaret Park  Sales Support Agent
27          16           Frank Harris  Margaret Park  Sales Support Agent
28          20             Dan Miller  Margaret Park  Sales Support Agent
29          22        Heather Leacock  Margaret Park  Sales Support Agent
30          23            John Gordon  Margaret Park  Sales Support Agent
31          26     Richard Cunningham  Margaret Park  Sales Support Agent
32          27           Patrick Gray  Margaret Park  Sales Support Agent
33          32         Aaron Mitchell  Margaret Park  Sales Support Agent
34          34         João Fernandes  Margaret Park  Sales Support Agent
35          35       Madalena Sampaio  Margaret Park  Sales Support Agent
36          39        Camille Bernard  Margaret Park  Sales Support Agent
37          40     Dominique Lefebvre  Margaret Park  Sales Support Agent
38          49       Stanisław Wójcik  Margaret Park  Sales Support Agent
39          55            Mark Taylor  Margaret Park  Sales Support Agent
40          56        Diego Gutiérrez  Margaret Park  Sales Support Agent
41           2          Leonie Köhler  Steve Johnson  Sales Support Agent
42           6            Helena Holý  Steve Johnson  Sales Support Agent
43           7          Astrid Gruber  Steve Johnson  Sales Support Agent
44          11        Alexandre Rocha  Steve Johnson  Sales Support Agent
45          14           Mark Philips  Steve Johnson  Sales Support Agent
46          17             Jack Smith  Steve Johnson  Sales Support Agent
47          21            Kathy Chase  Steve Johnson  Sales Support Agent
48          25         Victor Stevens  Steve Johnson  Sales Support Agent
49          28          Julia Barnett  Steve Johnson  Sales Support Agent
50          31            Martha Silk  Steve Johnson  Sales Support Agent
51          36       Hannah Schneider  Steve Johnson  Sales Support Agent
52          41            Marc Dubois  Steve Johnson  Sales Support Agent
53          47          Lucas Mancini  Steve Johnson  Sales Support Agent
54          48  Johannes Van der Berg  Steve Johnson  Sales Support Agent
55          50          Enrique Muñoz  Steve Johnson  Sales Support Agent
56          51       Joakim Johansson  Steve Johnson  Sales Support Agent
57          54           Steve Murray  Steve Johnson  Sales Support Agent
58          57             Luis Rojas  Steve Johnson  Sales Support Agent

In [133]:
query_pp(sql_cmd("""
SELECT firstname || ' ' || lastname as user_name, SUM(i_i.quantity) as tracks_purchased
FROM customers c
INNER JOIN invoices i
ON c.customerid = i.customerid
INNER JOIN invoice_items i_i
ON i.invoiceid = i_i.invoiceid
GROUP BY c.customerid
"""
))

                user_name  tracks_purchased
0          Luís Gonçalves                38
1           Leonie Köhler                38
2       François Tremblay                38
3            Bjørn Hansen                38
4   František Wichterlová                38
5             Helena Holý                38
6           Astrid Gruber                38
7            Daan Peeters                38
8            Kara Nielsen                38
9         Eduardo Martins                38
10        Alexandre Rocha                38
11        Roberto Almeida                38
12         Fernanda Ramos                38
13           Mark Philips                38
14      Jennifer Peterson                38
15           Frank Harris                38
16             Jack Smith                38
17        Michelle Brooks                38
18              Tim Goyer                38
19             Dan Miller                38
20            Kathy Chase                38
21        Heather Leacock                38
22            John Gordon                38
23          Frank Ralston                38
24         Victor Stevens                38
25     Richard Cunningham                38
26           Patrick Gray                38
27          Julia Barnett                38
28           Robert Brown                38
29         Edward Francis                38
30            Martha Silk                38
31         Aaron Mitchell                38
32         Ellie Sullivan                38
33         João Fernandes                38
34       Madalena Sampaio                38
35       Hannah Schneider                38
36        Fynn Zimmermann                38
37        Niklas Schröder                38
38        Camille Bernard                38
39     Dominique Lefebvre                38
40            Marc Dubois                38
41           Wyatt Girard                38
42       Isabelle Mercier                38
43       Terhi Hämäläinen                38
44        Ladislav Kovács                38
45          Hugh O'Reilly                38
46          Lucas Mancini                38
47  Johannes Van der Berg                38
48       Stanisław Wójcik                38
49          Enrique Muñoz                38
50       Joakim Johansson                38
51             Emma Jones                38
52            Phil Hughes                38
53           Steve Murray                38
54            Mark Taylor                38
55        Diego Gutiérrez                38
56             Luis Rojas                38
57           Manoj Pareek                38
58        Puja Srivastava                36